.App {
  display: block;
  margin-left: 600px;
}

.impRota {
  padding: 2em;
}

.form-rota {
  margin-top: 24px;
}

.caixa-texto {
  font-size: 28px;
  font-weight: 700;
  display: flex;
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #0f0f0f;
  border-radius: 10px;
  outline: none;
  color: #5c8599;
  padding: 3px 12px;
}

.App {
  color: #5c8599;
}

label.custom-file-upload {
  border: 2px solid #658492;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
}

.input-file {
  display: none;
}

.button-create-route {
  background-color: #bcd9eb;
  border: 2px solid #658492;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
}